[Unit]
Description=__APP__ Queue
After=network.target

[Service]
Type=simple
User=__APP__
WorkingDirectory=__FINALPATH__/src
ExecStart=__FINALPATH__/ve3/bin/python3 huey_consumer.py tasks.main.huey -m 1 -w 4
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
